#include "resource.h"

IDR_WEB_INDEX RCDATA "../../web/index.html"
IDR_WEB_STYLE RCDATA "../../web/style.css"
IDR_WEB_APP RCDATA "../../web/app.js"
IDR_ITEM_CATALOG RCDATA "../../data/catalog/eden-start-catalog.j460.json"
IDR_ISAAC_SANS_FONT RCDATA "../../assets/fonts/Isaacsans-lEpZ.ttf"
IDR_SEEKER_TITLE RCDATA "../../assets/ui/isaac-seed-seeker-title.png"
IDR_LANA_PIXEL_FONT RCDATA "../../assets/fonts/LanaPixel.ttf"
IDR_WEB_TREATMENT RCDATA "../../web/experimental-treatment.html"
IDR_WEB_INSPECTOR RCDATA "../../web/seed-inspector.html"
IDR_WEB_INSPECTOR_APP RCDATA "../../web/seed-inspector.js"
IDR_WEB_DAILY_GOOD RCDATA "../../web/daily-good.html"
IDR_WEB_DAILY_GOOD_APP RCDATA "../../web/daily-good.js"
IDR_WEB_DAILY_BAD RCDATA "../../web/daily-bad.html"
